.banner{
    width: 100%;
    height: 40rem;
    margin: 5rem 0;
    position: relative;
}
.banner img{
    width: 100%;
    height: 100%;
}
.banner h1{
    position: absolute;
    font-size: 7rem;
    top: 0;
    left: 0; 
    right: 0; 
    margin-inline: auto; 
    width: fit-content;
    margin-top: 12rem;
    padding: 5rem;

    border-radius: 2rem;
    color: white;
    background-color: rgba(33, 47, 63, .3);
    cursor: default;
    border: 1px  #11d769;
    transition: .5s;
}
.banner h1:hover{
    border: 1px solid #11d769;
    box-shadow: 0 0 14px rgba(1, 226, 99, .2);
}
.home-page{
    width: 80%;
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#form-search{
    width: 100%;
    font-size: 2.5rem;
}
.home-page .search-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.search-input, .search-options{
    width: 100%;
    margin-bottom: 2rem;
}

.home-page .search-bar input{
    height: 4rem;
}
.search-bar .search-input{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    box-shadow: 0 8px 16px 0 rgba(1,18,34,.04);
}
.search-bar .search-input i{
    position: absolute;
    padding-left: 1rem;
    font-size: 2rem;
}
#search-input{
    padding-left: 4rem;
    width: 100%;
    border-radius: 0.5rem;
    border: none;
    transition: .5s;
}
.search-options{
    display: flex;
    justify-content: space-between;
}
.search-options input{
    width: 20%;
    padding-left: 1rem;
    border: none;
    border-radius: 0.5rem;
    transition: .2s;
}
.search-options #search-company{
    width: 25%;
    box-shadow: 0 8px 16px 0 rgba(1,18,34,.04);
}
.search-options select{
    width: 15%;
    border-radius: 0.5rem;
    padding-left: 1rem;
    border: none;
    transition: .2s;
    box-shadow: 0 8px 16px 0 rgba(1,18,34,.04);
}

#search-min-wage, #search-max-wage{
    box-shadow: 0 8px 16px 0 rgba(1,18,34,.04);
}

#search-input:focus, .search-options select:focus, .search-options input:focus{
    outline: none;
}
.search-options option{
    font-size: 1.5rem;
}
.search-company-form{
    margin-top: 2rem;
    width: 100%;
}
.search-company-input{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    box-shadow: 0 8px 16px 0 rgba(1,18,34,.04);
    margin-bottom: 2rem;
}
.search-company-input input{
    width: 100%;
    height: 4rem;
    border: none;
    border-radius: 1rem;
    padding-left: 4rem;
    font-size: 2rem;
}
.search-company-input input:focus{
    outline: none;
}
.search-company-input i{
    position: absolute;
    font-size: 2rem;
    margin-left: 1rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}